<header class="header-global">
    <nav class="navbar">
        <div class="container">
            <a href="{{ url_for('includes') }}">
                <img src="../static/img/logo.png" alt="Pegasus" width="120">
            </a>
            <div class="button_nav">
                <a href="{{ url_for('login') }}"><button class="log_in">Вход</button></a>
                <a href="{{ url_for('logout') }}"><button class="log_out">Выход</button></a>
                <a href="{{ url_for('registration') }}"><button class="sign_up">Регистрация</button></a>
            </div>
        </div>
    </nav>
</header>
