<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>111</title>
</head>
<body>
    <div id="app">
        <header class="header-global">
            <nav class="navbar">
                <div class="container">
                    <div class="logo">логотип</div>
                </div>
            </nav>
        </header>
        <main>
            <main id="main">
                <div class="first_blok">
                    <div class="date">01/06/21 20:20</div>
                    <div class="bottom_look_free_time"></div>
                </div>
            </main>
        </main>
    </div>


</body>
</html>