<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/img/favicon.png" type="image/x-icon">
    <title>Инструкция</title>
</head>
<body>
     <div id="app">
    <header class="header-global">
        <nav class="navbar">
            <div class="container">
                <a href="{{ url_for('includes') }}">
                    <img src="../static/img/logo.png" alt="Pegasus" width="120">
                </a>
            </div>
        </nav>
    </header>
</div>
<div class="f_block">
    <div class="f_block_in">
        <h2>
            Не знаете, как пользоваться сайтом?   
            Тогда ДОБРО ПОЖАЛОВАТЬ!
        </h2>
    </div>
</div>
<br>
<div class="block_important">
    <div class="block_important_in">
        <h3>
            Это ИНСТРУКЦИЯ по выбору своей лошадки ;)
            Надеемся, она Вам поможет!
        </h3>
    </div>
</div>
<div class="img_horse_block">
    <article class="horse">
        <div class="horse_logo">
        </div>
    </article>
</div>
<br>
<div class="block">
    <div class="block_in">
        <h3>
            Шаг первый : Заходим на сайт
        </h3>
        <p>
            Вижу, Вы это уже сделали :)
        </p> 
        <p>
            Молодцы!
        </p> 
        <p>
            Тогда самое время перейти к следующему шагу.
        </p>
        <br>
    </div>
</div>
<br>
<div class="block">
    <div class="block_in">
        <h3>
            Шаг второй : Выбор даты
        </h3>
        <br>
        <img src="../static/img/calendar.png" alt="Calendar" class="c_left">
        <p>
            Будучи уже участником нашего клуба жокеев, 
        </p>
        <p>
            Вы сможете выбирать свой особый день для скачек на пегасах.
        </p> 
        <p>
            Эти крылатики доставят Вас в аэропорт со скоростью света, стоит только записаться)
        </p> 
        <p>
            Но для начала давайте подберем Вам удачную дату.
        </p>
        <p>
            Просто взгляните на календарь и билет. Вы видите такую же дату? 
        </p>
        <p>
            Нажмите на нее и выберете время отъезда.
        </p>
        <br>
    </div>
</div>
<br>
<div class="block_important">
    <div class="block_important_in">
        <p>
            Внимание! Убедитесь, что Вы не опоздаете на посадку на самолет. Выберете самое оптимальное время!!!
        </p>
    </div>
</div>
<br>
<div class="block">
    <div class="block_in">
        <h3> 
            Шаг третий : Выбор
        </h3>
        <p>
            У Вас есть возможность выбирать: 
            хотите ли Вы оставить заявку на нашем сайте,
            или же присоединиться к другой поездке и 
            разделить сумму за такси на нескольких человек. 
        </p>
        <p>
            Подумайте и примите взвешенное решение.
        </p>
        <br>
    </div>
</div>
<br>
<div class="block_choice">
    <div class="block_choice_in">
        <h3>
            Выбор : Регистрация заявки
        </h3>
        <br>
            <img src="../static/img/regist_request.png" alt="Regist_request" class="r_left">
        <p>
            Итак, Вы выбрали регистрацию. Хорошо) 
            Перейдите на главную страницу нашего сайта и спуститесь вниз.
        </p> 
        <p>
            Там Вы увидите форму регистрации заявки.
        </p> 
        <p>
            Здесь Вам нужно ввести свое имя и ссылку на аккаунт в VK. 
        </p>
        <p>
            Затем  вставьте ее в нужное поле. 
        </p>
        <p>
            Ниже введите дату и время выезда, чтобы мы знали, когда лететь к Вам 
        </p>
        <p>
            Также Вы можете оставить комментарий. 
        </p>
        <br>
    </div>
</div>
<br>
<div class="block_important">
    <div class="block_important_in">
        <p>
            P.S. Оставляя заявку, держите VK сообщения открытыми, чтобы пользователь мог к Вам обратиться.
        </p>
    </div>
</div>
<br>
<div class="block_choice">
    <div class="block_choice_in">
        <h3>
            Выбор  :  Договор
        </h3>
        <p>
            Хотите поехать с кем-то вместе?) 
        </p>
        <p>
            Хорошо, сделайте скриншот данной заявки и напишите пользователю в VK, прикрепив к нему скриншот данной записи.
        </p> 
        <br>
    </div>
</div>
<br>
<div class="block">
    <div class="block_in">
        <h3>
            Шаг четвертый: Счастливого пути!!!)))
        </h3>
        <p>
            Вы справились, молодцы!!!
        </p> 
        <br>
    </div>
</div>
{% include 'footer.html' %}
