<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../imgs/favicon.png">
    <title>Pegas</title>
</head>
<body>
    <div id="app">
        <header class="header-global">
            <nav class="navbar">
                <div class="container">
                    <div class="logo">логотип</div>
                </div>
            </nav>
        </header>
        <main id="main">
            <div class="first_block">
                <div class="first_block_in">
                    <div class="date">Сегодня: 01/06/21 20:20</div>
                    <div class="bottom_look_free_time">111</div>
                </div>
            </div>
            <div class="block_calendar">
                <div class="mounth">
                    <div class="prev_mounth">&#171;</div>
                    <div class="cur_mounth">июнь</div>
                    <div class="next_mounth">&#187;</div>
                </div>
                <div class="weeks_days">
                    <div class="name_weeks">
                        <div class="week1 col-lg-3 col-lg-2">
                            <div class="inner">
                                    <div class="day_name">
                                        Пн
                                    </div>
                                    <div class="day_name">
                                        Вт
                                    </div>
                                    <div class="day_name">
                                        Ср
                                    </div>
                                    <div class="day_name">
                                        Чт
                                    </div>
                                    <div class="day_name">
                                        Пт
                                    </div>
                                    <div class="day_name">
                                        Сб
                                    </div>
                                    <div class="day_name">
                                        Вс
                                    </div>
                            </div>
                        </div>
                        <div class="week2 col-lg-3 col-lg-2">
                            <div class="inner">
                                    <div class="day_name">
                                        Пн
                                    </div>
                                    <div class="day_name">
                                        Вт
                                    </div>
                                    <div class="day_name">
                                        Ср
                                    </div>
                                    <div class="day_name">
                                        Чт
                                    </div>
                                    <div class="day_name">
                                        Пт
                                    </div>
                                    <div class="day_name">
                                        Сб
                                    </div>
                                    <div class="day_name">
                                        Вс
                                    </div>
                            </div>
                        </div>
                        <div class="week3 col-lg-3">
                            <div class="inner">
                                    <div class="day_name">
                                        Пн
                                    </div>
                                    <div class="day_name">
                                        Вт
                                    </div>
                                    <div class="day_name">
                                        Ср
                                    </div>
                                    <div class="day_name">
                                        Чт
                                    </div>
                                    <div class="day_name">
                                        Пт
                                    </div>
                                    <div class="day_name">
                                        Сб
                                    </div>
                                    <div class="day_name">
                                        Вс
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="days">
                        <div class="colomn1 col-lg-3 col-lg-2">
                            <div class="inner">
                                <div class="day">1</div>
                                <div class="day">2</div>
                                <div class="day">3</div>
                                <div class="day">4</div>
                                <div class="day">5</div>
                                <div class="day">6</div>                                        
                                <div class="day">7</div>
                            </div>
                        </div>
                        <div class="colomn2 col-lg-3 col-lg-2">
                            <div class="inner">
                                <div class="day">8</div>
                                <div class="day">9</div>
                                <div class="day">10</div>
                                <div class="day">11</div>
                                <div class="day">12</div>                                        
                                <div class="day">13</div>
                                <div class="day">14</div>
                            </div>
                        </div>
                        <div class="colomn3 col-lg-3 col-lg-2">
                            <div class="inner">
                                <div class="day">15</div>
                                <div class="day">16</div>
                                <div class="day">17</div>
                                <div class="day">18</div>
                                <div class="day">19</div>
                                <div class="day">20</div>
                                <div class="day">21</div>
                            </div>
                        </div>
                        <div class="colomn4 col-lg-3 col-lg-2">
                            <div class="inner">
                                <div class="day">22</div>
                                <div class="day">23</div>
                                <div class="day">24</div>
                                <div class="day">25</div>
                                <div class="day">26</div>
                                <div class="day">27</div>
                                <div class="day">28</div>
                            </div>
                        </div>
                        <div class="colomn5 col-lg-3 col-lg-2">
                            <div class="inner">
                                <div class="day">29</div>
                                <div class="day">30</div>
                                <div class="day">1</div>
                                <div class="day">2</div>
                                <div class="day">3</div>
                                <div class="day">4</div>
                                <div class="day">5</div>
                            </div>
                        </div>
                        <div class="colomn6 col-lg-3 col-lg-2">
                            <div class="inner">
                                <div class="day">6</div>
                                <div class="day">7</div>
                                <div class="day">8</div>
                                <div class="day">9</div>
                                <div class="day">10</div>
                                <div class="day">11</div>
                                <div class="day">12</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request_window">
                <div class="title_of_req_window">
                    Челы которые поедут:
                </div>
                <div class="requests">
                    <div class="request_1 req">
                        <div class="top_of_req">
                            <div class="name">
                                Пользователь: Ваня
                            </div>
                            <div class="date_to_go">
                                Поедет в аэропорт: 01.07.21 10:00
                            </div>
                            <div class="telephon_number">
                                Номер телефона: 89006001212
                            </div>
                        </div>
                        <div class="comment">
                            Комментарий: люблю печеньки и громкую музыку
                        </div>
                    </div>
                    <div class="request_2 req">
                        <div class="top_of_req">
                            <div class="name">
                                Пользователь: Vаня
                            </div>
                            <div class="date_to_go">
                                Поедет в аэропорт: 08.07.21 15:00
                            </div>
                            <div class="telephon_number">
                                Номер телефона: 89006001214
                            </div>
                        </div>
                        <div class="comment">
                            Комментарий: не люблю печеньки и громкую музыку
                        </div>
                    </div>
                    <div class="request_3 req">
                        <div class="top_of_req">
                            <div class="name">
                                Пользователь: Mаня
                            </div>
                            <div class="date_to_go">
                                Поедет в аэропорт: 03.07.21 11:00
                            </div>
                            <div class="telephon_number">
                                Номр телефона: 89006001213
                            </div>
                        </div>
                        <div class="comment">
                            Комментарий: Lorem ipsum, dolor
                        </div>
                    </div>
                </div>
            </div>
            <div class="req_maker">
                <div class="title_of_req_maker">здесь регаются</div>
                <div class="usertime_to_go"></div>
            </div>
        </main>
    </div>
</body>
</html>