{% extends 'base.html' %}
{% block content %}
<div class="app">
<div class="personal_area_wind">
    <div class="title_of_personal_area">
        Ваши заявки
    </div>
    <div class="personal_area_reqs">
        {% if form.get('exist') %}
            {% for f in form.get('requests') %}
                <div class="personal_area_req">
                    <div class="personal_area_req_datatime">
                        {{f.get('date')}}
                        {{f.get('time')}}
                    </div>
                    <div class="personal_area_req_comment">
                        {{f.get('comment')}}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="personal_area_req">
                У вас нет ни одной завки(
            </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}