<div class="register_wind">
    <div class="title_of_register_wind">
        Регистрация
    </div>
    <div class="register_wind_input">
        <div class="username">
            <h5>Введите имя:</h5>
            <input type="text">   
        </div>
        <div class="password">
            <h5>Введите пароль:</h5>
            <input type="password">   
        </div>
        <div class="vklink">
            <h5>Ссылка на профиль Вконтакте:</h5>
            <input type="text">   
        </div>
        <p><button class="new_user">Зарегистрироваться</button></p>
    </div>
</div>