{% extends 'base.html' %}
{% block content %}
    <div class="register_wind">
    <div class="title_of_register_wind">
        Регистрация
    </div>
    <div class="register_wind_input">
    <form method="POST" action="" class="register_wind_input">
        {% for message in  get_flashed_messages() %}
            <h6>{{ message }}</h6>
        {% endfor %}
        {{ form.csrf_token }}
        <div class="username">
            <h5>{{ form.login.label }}</h5>
            {{ form.login() }}
            {% for error in form.login.errors %}
                <div class="errors">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="password">
            <h5>{{ form.password.label }}</h5>
            {{ form.password() }}
            {% for error in form.password.errors %}
            <div class="errors">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="vklink">
            <h5>{{ form.vk_link.label }}</h5>
            {{ form.vk_link() }}
            {% for error in form.vk_link.errors %}
            <div class="errors">{{ error }}</div>
            {% endfor %}
        </div>
        <p><button class="new_user" type="submit">Зарегистрироваться</button></p>
    </form>
    </div>
</div>
{% endblock %}
