<div class="req_maker">
    <div class="title_of_req_maker">Форма регистрации заявки</div>
    <div class="req_maker_input">
        <div class="usertime_to_go">
            <h5>Введите имя (Обязательное поле):</h5>
            <input type="text">   
        </div>
        <div class="vklink">
            <h5>Ссылка на профиль Вконтакте(Обязательное поле):</h5>
            <input type="text">   
        </div>
        <div class="comm">
            <h5>Комментарий (максимум 200 символов):</h5>
            <textarea class="place_to_comment" ></textarea>
        </div>
    </div>
</div>