<div class="req_maker">
    <div class="title_of_req_maker">Форма регистрации заявки</div>
    <div class="req_maker_input">
        <div class="When_to_go">
            <h5>Когда вы поедете в аэропорт?</h5>
            <h6>День</h6>
            <input type="date" id="req_date_go"/>
            <h6>Время</h6>
            <input type="time" id="req_time_go"/>
        </div>
        <div class="comm">
            <h5>Комментарий:</h5>
            <textarea class="place_to_comment" id="req_comment" ></textarea>
        </div>
        <p><button class="new_req" onclick="reqButtonClick()">Отправить заявку</button></p>
    </div>
    <script>
        function reqButtonClick() {
            let date = document.getElementById("req_date_go");
            let time = document.getElementById("req_time_go");
            let comment = document.getElementById("req_comment");
            let data = {
                "date": date.value,
                "time": time.value,
                "comment": comment.value,
                "user": '{{ username }}',
                "link": '{{ link_vk }}'
            };
            reqWindowRequest(data);
        }
    </script>
</div>