<div class="request_window">
    <div class="title_of_req_window">
        Зарегистрированные заявки:
    </div>
    <div class="requests" id="requests">
        <!--
        <div class="request_1 req">
            <div class="top_of_req">
                <div class="name">
                    Пользователь: Ваня
                </div>
                <div class="date_to_go">
                    Поедет в аэропорт: 01.07.21 10:00
                </div>
                <div class="user_vklink">
                    Страница Вк: ibdcs78428r7bf387gfdn87w8sdcb87
                </div>
            </div>
            <div class="comment">
                Комментарий: люблю печеньки и громкую музыку
            </div>
        </div>
        <div class="request_2 req">
            <div class="top_of_req">
                <div class="name">
                    Пользователь: Vаня
                </div>
                <div class="date_to_go">
                    Поедет в аэропорт: 08.07.21 15:00
                </div>
                <div class="user_vklink">
                    Страница Вк: Povelitel_muh
                </div>
            </div>
            <div class="comment">
                Комментарий: не люблю печеньки и громкую музыку
            </div>
        </div>
        <div class="request_3 req">
            <div class="top_of_req">
                <div class="name">
                    Пользователь: Mаня
                </div>
                <div class="date_to_go">
                    Поедет в аэропорт: 03.07.21 11:00
                </div>
                <div class="user_vklink">
                    Старница Вк: картошка228
                </div>
            </div>
            <div class="comment">
                Комментарий: Loremips
            </div>
        </div> -->
    </div>
    <script src="../static/scripts/output_requests.js"></script>
</div>